.image {
    border: 3px lightgray solid;
    padding: 0px;
	width: 30%;
    height: auto;
	float:left;
    margin-left: 5%;
    margin-top: 5%;
    box-sizing: border-box;
}

.image:first-child, .image:nth-child(4) {
    margin-left: 0;
}

.image img {
	width: 100%;
}

.lastImages {
	width: 80%;
	margin-left: 10%;
	display: inline-block;
}