body {
	display: block;
    background-color: #353535;
	width: 100%;
}

.container{

}

form{
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}

form ul {
    list-style: none;
}

form ul li {
    margin-bottom: 10px;
    width: 50px;
}

ul li label {
    float: left;
    width: 150px;
    line-height: 24px;
}
